<!DOCTYPE html>
<html>
    <head lang="en">
        <!-- ok -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home.com </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous">

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
         <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
        <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
         crossorigin="anonymous"></script>

         <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
         <script src="{{ url_for('static', filename='js/home.js') }}"></script>
         

         <style>
          
               

            
         </style>

    </head>
    <body>
      <!-- NAVIGATION BAR -->
      <section class="sect1"> 
      <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
        <div class="container-fluid">
          <img src="{{url_for('static' , filename = 'homepagepics/finallogo.jpg')}}" width="8%" height="8%" class="rounded-circle responsive-image" style="cursor: pointer;" onclick="movetohome()">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ">
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                   Cities
                </a>
                
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item cities-dropdown" href="#">Lahore</a></li>
                  <li><a class="dropdown-item cities-dropdown" href="#">Karachi</a></li>
                  <li><a class="dropdown-item cities-dropdown" href="#">Islamabad</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                   (Consult Online / On-Site)
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Consult Online</a></li>
                  <li><a class="dropdown-item" href="#">On-Site</a></li>
                </ul>
              </li>
              

              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                   Doctor Specialties
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Acupuncture</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Aesthetic Physician</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Allergy Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Andrologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Anesthetist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Audiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Bariatric / Weight Loss Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Breast Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cancer Specialist / Oncologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cancer Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cardiac Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cardiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cardiothoracic Anesthetist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Chest Respiratory Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Chest Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Child Psychologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Chiropractor</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Clinical Dietician</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Clinical Nutritionist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Clinical Psychologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cosmetic Dentist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cosmetic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Cosmetologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Counselor</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Dentist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Dermatologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Diabetologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Endocrinologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Endourologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Ent Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Ent Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Eye Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Eye Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Family Medicine</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Fitness Trainer</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Gastroenterologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">General Physician</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">General Practitioner</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">General Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Geneticist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Gynecologic Oncologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Gynecologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Haemoncologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Hematologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Hepatologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Hijama Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Homeopath</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Immunologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Infectious Diseases</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Internal Medicine Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Interventional Cardiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Interventional Radiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Kidney Transplant Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Laparoscopic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Liver Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Liver Transplant Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Lung Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Maternal Fetal Medicine Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Medical Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Neonatologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Nephrologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Neuro Psychiatrist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Neuro Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Neurologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Nutritionist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Occupational Therapist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Optometrist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Oral And Maxillofacial Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Orthodontist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Orthopedic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Orthotist And Prosthetist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Paediatric Radiologis</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pain Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pathologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Cardiac Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Cardiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Endocrinologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Gastroenterologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Nephrologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Neuro Physician</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Oncologist And Hematologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Orthopedic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatric Urologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pediatrician</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pharmacist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Physiotherapist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Plastic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Psychiatrist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Psychologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Pulmonologist / Lung Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Radiation Oncologis</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Radiologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Regenerative Medicine Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Rehabilitation Medicine</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Restorative Dentist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Rheumatologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Sexologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Sonologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Speech Therapist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Spinal Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Spine Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Thoracic Surgeon</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Urological Oncologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Urologist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Vaccine Specialist</a></li>
                  <li><a class="dropdown-item specialtie-dropdown"  href="#">Vascular Surgeon</a></li>
                  
                  
                  


                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-item"><button type="submit" disabled id="searchSubmitBtn" class="search-btn btn btn-outline-secondary" onclick="movetodoctorpage()">Search</button></a>

              </li>
              <li class="nav-item">
                <a class="nav-link services" onclick="movetoservicepage()">Services</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link About-Us" onclick="movetoaboutpage()">About Us</a>

              </li>
              
            </ul>
            
          </div>
        </div>
        
           <button class="phone-btn btn-light" >
            <i class="material-icons">phone</i>
           </button>        
           <button type="button" class="btn btn-light" onclick="movetologin()" > Login / Signup </button>

          

          
      </nav>
     
    </section>
      
      <section class="sect2"> 
      <div class="homepage_image">
        <div class="homepage_text">
          <h3 style="font-size:20px">CURE LIFES</h3>
          <h1>CURE YOUR LIFE</h1>
          <p>
            EMPOWERING PATIENTS, CONNECTING DOCTORS, AND BRIDGING THE GAP TO BETTER HEALTHCARE.
          </p>
          <button type="button" class="btn btn-primary" onclick="movetologin()" > LOGIN </button>
          <button type="button" class="btn btn-outline-primary text-white"> SIGN UP </button>
        </div>
      </div>
      </section>

       <!-- DETAIL BOX -->

      <section class="sect3">
      <div class="container mt-5">
      <div class="row detail_box">
        <div class="col-sm-3 p-3">
          <i class="material-icons text-white">schedule</i>
          <h3 class="detail_box_head">OPENING HOURS</h3><hr>
          <a href="#" class=" all-font-color-white">MON-FRI  8:00am-7:00pm</a>
          
          <a href="#" class=" all-font-color-white">SATURDAY  9:00am-5:00pm</a>
          
          <a href="#" class=" all-font-color-white">SUNDAY  9:00am-7:00pm</a>
         
        </div>
        <div class="col-sm-3 p-3 ">
          <i class="material-icons text-white all-font-color-white">computer</i>
          <h3 class="detail_box_head all-font-color-white">DOCTOR'S TIMETABLE</h3><hr>
          <a href="#" class="detail_link all-font-color-white">It is a long established fact that a reader will be distracted by the readable 
            content of a page when looking at its layout.</a>
        </div>
        <div class="col-sm-3 p-3 ">
          <i class="material-icons text-white all-font-color-white">phone</i>
          <h3 class="detail_box_head all-font-color-white">APPOINTMENTS</h3><hr>
          <a href="#" class="detail_link all-font-color-white">It is a long established fact that a reader will be distracted by the readable 
            content of a page when looking at its layout.</a>
        </div>
        <div class="col-sm-3 p-3 ">
          <i class="material-icons text-white all-font-color-white">emergency</i>
          <h3 class="detail_box_head all-font-color-white">EMERGENCY CASES</h3><hr>
          <p class="detail_box_head all-font-color-white"><a href="#" class="detail_link">071-546284383</a>Call us!</p>
        </div>
      </div>
      </div>
      
    </section>

    <!-- STARTING OF Disease SECTION  -->

      <!-- CARSOULER  -->
      <section style="padding-top: 80px; padding-bottom:80px">

        <div class="container">
          <h1>Diseases</h1>
          <p>"Explore a wealth of information on various diseases at Cure Life, 
            empowering you with knowledge to understand, prevent, and manage health challenges effectively."</p>
            <p>"Cure Life is your trusted resource for insights into diseases, 
              offering a platform that promotes awareness and education, fostering a 
              healthier and informed lifestyle."</p>
          <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static',filename = 'homepagepics/kidney.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Kidney</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static',filename = 'homepagepics/stress.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Depression</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static',filename = 'homepagepics/cancer-cell.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Blood Cancer</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static',filename = 'homepagepics/disease.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Lungs Cancer</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static' , filename = 'homepagepics/virus.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Infection</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static',filename = 'homepagepics/skin-disease.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Skin Disease</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static' , filename = 'homepagepics/pain.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Migrane</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static' , filename = 'homepagepics/pregnant.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Pregency</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static' , filename = 'homepagepics/liver-cancer.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Liver Cancer</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                          <div class="pad15">
                            <img src="{{url_for('static' , filename = 'homepagepics/diarrhea.png')}}" style="width: 70px;">
                              <p class="lead"><a href="#" class="all-font-color-black diseases-get">Diarrhea</a></p>
                              
                          </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <img src="{{url_for('static' , filename = 'homepagepics/mosquito.png')}}" style="width: 70px;">
                            <p class="lead"><a href="#" class="all-font-color-black diseases-get">Dengue</a></p>
                            
                        </div>
                    </div>
                    <div class="item">
                      <div class="pad15">
                        <img src="{{url_for('static' , filename = 'homepagepics/acne.png')}}" style="width: 70px;">
                          <p class="lead"><a href="#" class="all-font-color-black diseases-get">Acne</a></p>
                          
                      </div>
                  </div>
                  <div class="item">
                    <div class="pad15">
                      <img src="{{url_for('static' , filename = 'homepagepics/anxiety.png')}}" style="width: 70px;">
                        <p class="lead"><a href="#" class="all-font-color-black diseases-get">Anxiety</a></p>
                        
                    </div>
                </div>
                <div class="item">
                  <div class="pad15">
                    <img src="{{url_for('static' , filename = 'homepagepics/asthma.png')}}" style="width: 70px;">
                      <p class="lead"><a href="#" class="all-font-color-black diseases-get">Asthma</a></p>
                      
                  </div>
              </div>
              <div class="item">
                <div class="pad15">
                  <img src="{{url_for('static' , filename = 'homepagepics/brain-cancer.png')}}" style="width: 70px;">
                    <p class="lead"><a href="#" class="all-font-color-black diseases-get">Brain Tumor</a></p>
                    
                </div>
            </div>
            <div class="item">
              <div class="pad15">
                <img src="{{url_for('static' , filename = 'homepagepics/body.png')}}" style="width: 70px;">
                  <p class="lead"><a href="#" class="all-font-color-black diseases-get">Chest Infection</a></p>
                  
              </div>
          </div>
          <div class="item">
            <div class="pad15">
              <img src="{{url_for('static' , filename = 'homepagepics/sugar-blood-level.png')}}" style="width: 70px;">
                <p class="lead"><a href="#" class="all-font-color-black diseases-get">Diabetes</a></p>
                
            </div>
        </div>
        <div class="item">
          <div class="pad15">
            <img src="{{url_for('static' , filename = 'homepagepics/eye-cancer.png')}}" style="width: 70px;">
              <p class="lead"><a href="#" class="all-font-color-black diseases-get">Eye Cancer</a></p>
              
          </div>
      </div>
      <div class="item">
        <div class="pad15">
          <img src="{{url_for('static' , filename = 'homepagepics/sneezing.png')}}" style="width: 70px;">
            <p class="lead"><a href="#" class="all-font-color-black diseases-get">Flu</a></p>
            
        </div>
    </div>
    <div class="item">
      <div class="pad15">
        <img src="{{url_for('static' , filename = 'homepagepics/nail.png')}}" style="width: 70px;">
          <p class="lead"><a href="#" class="all-font-color-black diseases-get"> Nail Infection</a></p>
          
      </div>
  </div>
  <div class="item">
    <div class="pad15">
      <img src="{{url_for('static' , filename = 'homepagepics/gum.png')}}" style="width: 70px;">
        <p class="lead"><a href="#" class="all-font-color-black diseases-get">Gum Disease</a></p>
        
    </div>
</div>
<div class="item">
  <div class="pad15">
    <img src="{{url_for('static' , filename = 'homepagepics/virus-transmission.png')}}" style="width: 70px;">
      <p class="lead"><a href="#" class="all-font-color-black diseases-get">Germ Cell</a></p>
      
  </div>
</div>
<div class="item">
  <div class="pad15">
    <img src="{{url_for('static' , filename = 'homepagepics/hearing.png')}}" style="width: 70px;">
      <p class="lead"><a href="#" class="all-font-color-black diseases-get">Hearing Loss</a></p>
      
  </div>
</div>
<div class="item">
  <div class="pad15">
    <img src="{{url_for('static' , filename = 'homepagepics/cholesterol.png')}}" style="width: 70px;">
      <p class="lead"><a href="#" class="all-font-color-black diseases-get">High cholesterol</a></p>
      
  </div>
</div>
<div class="item">
  <div class="pad15">
    <img src="{{url_for('static' , filename = 'homepagepics/gastroenterology.png')}}" style="width: 70px;">
      <p class="lead"><a href="#" class="all-font-color-black diseases-get">Indigestion</a></p>
      
  </div>
</div>
          
                        
                    </div>
                    <button class="btn btn-primary leftLst"><</button>
                    <button class="btn btn-primary rightLst">></button>
                </div>
          </div>

        </div>
      </section>

          <!-- END OF Disease SECTION -->

          <hr>

          <!-- START SYMPTOMS SECTION -->

          <section style="padding-top: 80px; padding-bottom:80px">

            <div class="container">
              <h1>SYMPTOMS</h1>
              <p>"Discover the early warning signs of various health conditions on Cure Life, 
                empowering you to proactively manage your well-being with insightful information about symptoms."</p>
                <p>"Explore a comprehensive guide to symptoms on the Cure Life platform, where knowledge meets care, 
                  providing you with the tools to understand and address potential health concerns effectively."</p>
              <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/sick.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Fever</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/breathless.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Breathless</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/svg.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Hair Loss</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/tiredness.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Tiredness</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/vomiting.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Vomiting</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/weighing-machine.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Weight Loss</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/headache.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Headache</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/allergie.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Allergie</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="pad15">
                                  <img src="{{url_for('static' , filename = 'homepagepics/back-problem.png')}}" style="width: 70px;">
                                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Back Problem</a></p>
                                    
                                </div>
                            </div>
                            <div class="item">
                              <div class="pad15">
                                <img src="{{url_for('static' , filename = 'homepagepics/chest-pain.png')}}" style="width: 70px;">
                                  <p class="lead"><a href="#" class="all-font-color-black symptom-get">Chest Pain</a></p>
                                  
                              </div>
                          </div>
                          <div class="item">
                            <div class="pad15">
                              <img src="{{url_for('static' , filename = 'homepagepics/ear-pain.png')}}" style="width: 70px;">
                                <p class="lead"><a href="#" class="all-font-color-black symptom-get">Ear Pain</a></p>
                                
                            </div>
                        </div>
                        <div class="item">
                          <div class="pad15">
                            <img src="{{url_for('static' , filename = 'homepagepics/itch.png')}}" style="width: 70px;">
                              <p class="lead"><a href="#" class="all-font-color-black symptom-get">Itching</a></p>
                              
                          </div>
                      </div>
                      <div class="item">
                        <div class="pad15">
                          <img src="{{url_for('static' , filename = 'homepagepics/ulcer.png')}}" style="width: 70px;">
                            <p class="lead"><a href="#" class="all-font-color-black symptom-get">Mouth ulcer</a></p>
                            
                        </div>
                    </div>
                    <div class="item">
                      <div class="pad15">
                        <img src="{{url_for('static' , filename = 'homepagepics/nose-bleeding.png')}}" style="width: 70px;">
                          <p class="lead"><a href="#" class="all-font-color-black symptom-get">Nose Blooding</a></p>
                          
                      </div>
                  </div>
                  <div class="item">
                    <div class="pad15">
                      <img src="{{url_for('static' , filename = 'homepagepics/sore-throat.png')}}" style="width: 70px;">
                        <p class="lead"><a href="#" class="all-font-color-black symptom-get">Sore throat</a></p>
                        
                    </div>
                </div>
                <div class="item">
                  <div class="pad15">
                    <img src="{{url_for('static' , filename = 'homepagepics/toothache.png')}}" style="width: 70px;">
                      <p class="lead"><a href="#" class="all-font-color-black symptom-get">Toothache</a></p>
                      
                  </div>
              </div>
              <div class="item">
                <div class="pad15">
                  <img src="{{url_for('static' , filename = 'homepagepics/tinnitus.png')}}" style="width: 70px;">
                    <p class="lead"><a href="#" class="all-font-color-black symptom-get">Tinnitus</a></p>
                    
                </div>
            </div>
            <div class="item">
              <div class="pad15">
                <img src="{{url_for('static' , filename = 'homepagepics/urinary.png')}}" style="width: 70px;">
                  <p class="lead"><a href="#" class="all-font-color-black symptom-get">Urinary</a></p>
                  
              </div>
          </div>
          <div class="item">
            <div class="pad15">
              <img src="{{url_for('static' , filename = 'homepagepics/swelling.png')}}" style="width: 70px;">
                <p class="lead"><a href="#" class="all-font-color-black symptom-get">Swelling</a></p>
                
            </div>
        </div>
        <div class="item">
          <div class="pad15">
            <img src="{{url_for('static' , filename = 'homepagepics/foot-pain.png')}}" style="width: 70px;">
              <p class="lead"><a href="#" class="all-font-color-black symptom-get"> Foot Pain</a></p>
              
          </div>
      </div>
      <div class="item">
        <div class="pad15">
          <img src="{{url_for('static' , filename = 'homepagepics/Dizziness.png')}}" style="width: 70px;">
            <p class="lead"><a href="#" class="all-font-color-black symptom-get">Dizziness</a></p>
            
        </div>
    </div>
    <div class="item">
      <div class="pad15">
        <img src="{{url_for('static' , filename = 'homepagepics/dehydration.png')}}" style="width: 70px;">
          <p class="lead"><a href="#" class="all-font-color-black symptom-get">Dehydration</a></p>
          
      </div>
    </div>
    <div class="item">
      <div class="pad15">
        <img src="{{url_for('static' , filename = 'homepagepics/constipation.png')}}" style="width: 70px;">
          <p class="lead"><a href="#" class="all-font-color-black symptom-get">Constipation</a></p>
          
      </div>
    </div>
    <div class="item">
      <div class="pad15">
        <img src="{{url_for('static' , filename = 'homepagepics/cold.png')}}" style="width: 70px;">
          <p class="lead"><a href="#" class="all-font-color-black symptom-get">Catarrh</a></p>
          
      </div>
    </div>
              
                            
                        </div>
                        <button class="btn btn-primary leftLst"><</button>
                        <button class="btn btn-primary rightLst">></button>
                    </div>
              </div>
              </div>

              </section>
              
            

          <!-- END SYMPTOMS SECTION  -->

                  
                  <hr>
          
          <!-- FOOTER -->

          

        <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="home-footer-heading all-font-color-white">CARENIC CENTER</a><hr>
                  <ul>
                    <li>
                  <a class=" all-font-color-white">Etiam varius metus non laoreet lacinia.
                    Sed venenatis sem non nulla dapibus convallis. Nam viverra</a>
                  </li>
                  </ul>
                </div>

                <div class="col-md-3">
                  <ul>
                  <a href="#" class="home-footer-heading all-font-color-white">CONTACT US</a><hr>
                  <li><a href="#" class=" all-font-color-white">74-10890 Holburn Lane</a></li>
                  <li><a href="#" class=" all-font-color-white">demo@yourdomain.com</a></li>
                  <li><a href="#" class=" all-font-color-white">(081) 079 6955 5946</a></li>
                </ul>
                </div>

                <div class="col-md-3">
                  <ul>
                  <a href="#" class="home-footer-heading all-font-color-white">INFORMATION</a><hr>
                  <li><a href="#" class=" all-font-color-white">About us</a></li>
                  <li><a href="#" class=" all-font-color-white">Delivery Information</a></li>
                  <li><a href="#" class=" all-font-color-white">privet policy</a></li>
                  <li><a href="#" class=" all-font-color-white">Terms & Conditions</a></li>
                 <li><a href="#" class=" all-font-color-white">Contact Us</a></li>
                  <li><a href="#" class=" all-font-color-white">FAQ</a></li>
                </ul>
                </div>

                <div class="col-sm-3">
                  <a href="#" class="home-footer-heading all-font-color-white">FOLLOW US</a><hr>
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-instagram"></a>
                </div>

              </div>
            </div>
          
          
          
          <p class="footer_para">Copyright © 2021 All Rights Reserved | This template is made with by Designmantic </p>
        </footer>
        
          


    </body>
</html>